.assets
.env
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
tests/__pycache__/
local-docs/
local-scripts/
local-docs/LOCAL_GIT_TIMELINE.md
local-docs/
